var Handlebars = require("../../node_modules/handlebars/runtime.js");
function __default(obj) { return obj && (obj.__esModule ? obj["default"] : obj); }
module.exports = (Handlebars["default"] || Handlebars).template({"1":function(container,depth0,helpers,partials,data) {
    var alias1=container.lambda, alias2=container.escapeExpression, lookupProperty = container.lookupProperty || function(parent, propertyName) {
        if (Object.prototype.hasOwnProperty.call(parent, propertyName)) {
          return parent[propertyName];
        }
        return undefined
    };

  return "            <option value=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"id") : depth0), depth0))
    + "\">"
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"name") : depth0), depth0))
    + "</option>\n";
},"3":function(container,depth0,helpers,partials,data) {
    var alias1=container.lambda, alias2=container.escapeExpression, lookupProperty = container.lookupProperty || function(parent, propertyName) {
        if (Object.prototype.hasOwnProperty.call(parent, propertyName)) {
          return parent[propertyName];
        }
        return undefined
    };

  return "            <li class=\"matclick\" id=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"id") : depth0), depth0))
    + "\" data-url=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"url") : depth0), depth0))
    + "\" data-id=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"id") : depth0), depth0))
    + "\"\n                data-type=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"type") : depth0), depth0))
    + "\" data-color=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"color") : depth0), depth0))
    + "\"><img src=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"image") : depth0), depth0))
    + "\" />\n            </li>\n";
},"5":function(container,depth0,helpers,partials,data) {
    var alias1=container.lambda, alias2=container.escapeExpression, lookupProperty = container.lookupProperty || function(parent, propertyName) {
        if (Object.prototype.hasOwnProperty.call(parent, propertyName)) {
          return parent[propertyName];
        }
        return undefined
    };

  return "            <li class=\"colorclick\" id=\"Colors_"
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"value") : depth0), depth0))
    + "\" data-color=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"value") : depth0), depth0))
    + "\" data-id=\""
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"value") : depth0), depth0))
    + "\"><span\n                    style=\"background-color: #"
    + alias2(alias1((depth0 != null ? lookupProperty(depth0,"value") : depth0), depth0))
    + ";\" />\n            </li>\n";
},"compiler":[8,">= 4.3.0"],"main":function(container,depth0,helpers,partials,data) {
    var stack1, alias1=depth0 != null ? depth0 : (container.nullContext || {}), lookupProperty = container.lookupProperty || function(parent, propertyName) {
        if (Object.prototype.hasOwnProperty.call(parent, propertyName)) {
          return parent[propertyName];
        }
        return undefined
    };

  return "<div class=\"row\">\n    <div class=\"col-md-12\">\n        <label class=\"label title\">\n            Model Selection\n        </label>\n        <select class=\"form-select\" id=\"modelSelection\">\n"
    + ((stack1 = lookupProperty(helpers,"each").call(alias1,(depth0 != null ? lookupProperty(depth0,"models") : depth0),{"name":"each","hash":{},"fn":container.program(1, data, 0),"inverse":container.noop,"data":data,"loc":{"start":{"line":7,"column":12},"end":{"line":9,"column":21}}})) != null ? stack1 : "")
    + "        </select>\n    </div>\n    <div class=\"col-md-12\">\n        <label class=\"label title\">\n            Style Statement\n        </label>\n        <ul class=\"backgroudlist\">\n"
    + ((stack1 = lookupProperty(helpers,"each").call(alias1,(depth0 != null ? lookupProperty(depth0,"background") : depth0),{"name":"each","hash":{},"fn":container.program(3, data, 0),"inverse":container.noop,"data":data,"loc":{"start":{"line":17,"column":12},"end":{"line":21,"column":21}}})) != null ? stack1 : "")
    + "        </ul>\n    </div>\n\n    <div class=\"col-md-12 mt32\">\n        <label class=\"label title\">\n            Tee’s Color\n        </label>\n        <ul class=\"colorlist\">\n"
    + ((stack1 = lookupProperty(helpers,"each").call(alias1,(depth0 != null ? lookupProperty(depth0,"colors") : depth0),{"name":"each","hash":{},"fn":container.program(5, data, 0),"inverse":container.noop,"data":data,"loc":{"start":{"line":30,"column":12},"end":{"line":34,"column":21}}})) != null ? stack1 : "")
    + "        </ul>\n    </div>\n\n\n    <div class=\"col-md-12 mt32\">\n        <label class=\"label title\">\n            Upload Your Design\n        </label>\n        <span class=\"decalpreview\">\n            <ul class=\"previewimagelist\" id=\"previewimagelist\">\n\n            </ul>\n\n        </span>\n        <ul class=\"list-buttons\">\n\n            <li>\n                <a href=\"#\" class=\"btn btn-outline-dark uploadDesignbtn\" id=\"uploadDesignbtn\"> Add</a>\n\n            </li>\n\n            <li>\n                <a href=\"#\" class=\"btn btn-outline-dark rotatebtn right decalshow\"> <img src=\"./assets/right.png\" /></a>\n\n            </li>\n\n\n            <li>\n                <a href=\"#\" class=\"btn btn-outline-dark removeDesignbtn decalshow\" id=\"removeDesignbtn\"> Del</a>\n            </li>\n        </ul>\n        <ul class=\"list-buttons mt32 decalshow\">\n            <li>\n                <div class=\"printDesignLayout\">\n                    <span>Printable Image size</span>\n                    <p class=\"label\" id=\"printSizeTxt\">8 cm (W) x 3 cm (H)</p>\n                </div>\n            </li>\n            <li>\n                <a href=\"#\" class=\"btn btn-outline-dark scalebtn\" data-type=\"down\"> - </a>\n\n            </li>\n            <li>\n                <a href=\"#\" class=\"btn btn-outline-dark scalebtn\" data-type=\"up\"> + </a>\n\n            </li>\n        </ul>\n\n\n    </div>\n\n    <div class=\"col-md-12 mt32\">\n        <label class=\"label title\">\n            Add Text\n        </label>\n    </div>\n\n    <div class=\"col-md-12 mt32\" id=\"TextListLayout\">\n    </div>\n\n\n</div>";
},"useData":true});